// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright SolidRun Ltd.
 *
 * Device tree for the CN9131 COM Express Type 7 board.
 */

#include "cn9130-cex7.dts"

/ {
        model = "SolidRun CN9131 based COM Express type 7";
        compatible = "marvell,cn9131", "marvell,cn9130",
                     "marvell,armada-ap807-quad", "marvell,armada-ap807";

        aliases {
                gpio3 = &cp1_gpio1;
                gpio4 = &cp1_gpio2;
                ethernet3 = &cp1_eth0;
        };
        cp1_reg_usb3_vbus0: cp1_usb3_vbus@0 {
                compatible = "regulator-fixed";
                regulator-name = "cp1-xhci0-vbus";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                enable-active-high;
        };
        cp1_usb3_0_phy0: cp1_usb3_phy0 {
                compatible = "usb-nop-xceiv";
                vcc-supply = <&cp1_reg_usb3_vbus0>;
        };
        cp1_reg_usb3_vbus1: cp1_usb3_vbus@1 {
                compatible = "regulator-fixed";
                regulator-name = "cp1-xhci1-vbus";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                enable-active-high;
        };
        cp1_usb3_0_phy1: cp1_usb3_phy@1 {
                compatible = "usb-nop-xceiv";
                vcc-supply = <&cp1_reg_usb3_vbus1>;
        };
        cp1_sfp_eth0: sfp_eth0{
                compatible = "sff,sfp";
                i2c-bus = <&cp1_i2c1>;
                mod-def0-gpio = <&cp1_gpio2 18  GPIO_ACTIVE_LOW>;
                pinctrl-names = "default";
                pinctrl-0 = <&cp1_sfp_present_pins>;
                status = "okay";
        };
};

/* Instantiate the first slave CP115  */

#define CP11X_NAME                cp1
#define CP11X_BASE                f4000000
#define CP11X_PCIEx_MEM_BASE(iface) (0xe2000000 + (iface * 0x2000000))
#define CP11X_PCIEx_MEM_SIZE(iface) 0xf00000
#define CP11X_PCIE0_BASE        f4600000
#define CP11X_PCIE1_BASE        f4620000
#define CP11X_PCIE2_BASE        f4640000

#include "armada-cp115.dtsi"

#undef CP11X_NAME
#undef CP11X_BASE
#undef CP11X_PCIEx_MEM_BASE
#undef CP11X_PCIEx_MEM_SIZE
#undef CP11X_PCIE0_BASE
#undef CP11X_PCIE1_BASE
#undef CP11X_PCIE2_BASE

&cp1_crypto {
        status = "disabled";
};

&cp1_ethernet {
        status = "okay";
};

/* 5GE PHY0 */
&cp1_eth0 {
        status = "okay";
        phy-mode = "5gbase-r";
        phys = <&cp1_comphy2 0>;
        phy = <&phy1>;
        sfp = <&cp1_sfp_eth0>;
};

&cp1_gpio1 {
        status = "okay";
};

&cp1_gpio2 {
        status = "okay";
};

&cp1_xmdio {
        status = "okay";
        pinctrl-0 = <&cp1_xmdio_pins>;
        phy1: ethernet-phy@0 {
                compatible = "ethernet-phy-ieee802.3-c45";
                reg = <0>;
        };
};

&cp1_i2c1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&cp1_i2c1_pins>;
        clock-frequency = <100000>;
};

/* PCIE X2 NVME */
&cp1_pcie0 {
        pinctrl-names = "default";
        num-lanes = <2>;
        num-viewport = <8>;
        status = "okay";
        phys = <&cp1_comphy0 0
                &cp1_comphy1 0>;
};

/* SATA 1 */
&cp1_sata0 {
        status = "okay";
        sata-port@1 {
                /* Generic PHY, providing serdes lanes */
                phys = <&cp1_comphy3 1>;
        };
};

/* PCIE X1 WIFI0 */
&cp1_pcie1 {
        pinctrl-names = "default";
        num-lanes = <1>;
        num-viewport = <8>;
        status = "okay";
        phys = <&cp1_comphy4 1>;
};

/* PCIE X1 WIFI1 */
&cp1_pcie2 {
        pinctrl-names = "default";
        num-lanes = <1>;
        num-viewport = <8>;
        status = "okay";
        phys = <&cp1_comphy5 2>;
};

/* PIN Definition */

&cp1_syscon0 {
        cp1_pinctrl: pinctrl {
                compatible = "marvell,cp115-standalone-pinctrl";

                cp1_i2c1_pins: cp1-i2c-pins-1 {
                        marvell,pins = "mpp35", "mpp36";
                        marvell,function = "i2c1";
                };
                cp1_xmdio_pins: cp1_xmdio_pins-0 {
                        marvell,pins = "mpp37", "mpp38";
                        marvell,function = "xg";
                };
                cp1_sfp_present_pins: cp1_sfp_present_pins-0 {
                        marvell,pins = "mpp50";
                        marvell,function = "gpio";
                };
        };
};

&cp1_usb3_0 {
        status = "okay";
        sb-phy = <&cp1_usb3_0_phy0>;
        phy-names = "usb";
};
&cp1_usb3_1 {
        status = "okay";
        usb-phy = <&cp1_usb3_0_phy1>;
        phy-names = "usb";
};
