/*
 * copyright (c) 2019 marvell international ltd.
 *
 * spdx-license-identifier:    gpl-2.0
 * https://spdx.org/licenses
 */

#include "cn9131-db-A.dts"
#include "cn9132-db.dtsi"

/ {
        model = "Model: Marvell CN9132 development board (CP NOR) setup(A)";
        compatible = "marvell,cn9132-db-A", "marvell,armada-ap807-quad",
                     "marvell,armada-ap807";

        aliases {
                gpio5 = &cp2_gpio1;
                gpio6 = &cp2_gpio2;
                ethernet5 = &cp2_eth0;
        };
};

&cp2_ethernet {
        status = "okay";
};

/* SLM-1521-V2, CON9 */
&cp2_eth0 {
        status = "okay";
        phy-mode = "10gbase-kr";
        /* Generic PHY, providing serdes lanes */
        phys = <&cp2_comphy4 0>;
        managed = "in-band-status";
        sfp = <&cp2_sfp_eth0>;
};

/* SLM-1521-V2, CON6 */
&cp2_pcie0 {
        status = "okay";
        num-lanes = <2>;
        num-viewport = <8>;
        /* Generic PHY, providing serdes lanes */
        phys = <&cp2_comphy0 0
                &cp2_comphy1 0>;
};

/* SLM-1521-V2, CON8 */
&cp2_pcie2 {
        status = "okay";
        num-lanes = <1>;
        num-viewport = <8>;
        /* Generic PHY, providing serdes lanes */
        phys = <&cp2_comphy5 2>;
};

&cp2_sata0 {
        status = "okay";
        /* SLM-1521-V2, CON4 */
        sata-port@0 {
                status = "okay";
                /* Generic PHY, providing serdes lanes */
                phys = <&cp2_comphy2 0>;
        };
};

/* CON 2 on SLM-1683 - microSD */
&cp2_sdhci0 {
        status = "okay";
};

/* SLM-1521-V2, CON11 */
&cp2_usb3_1 {
        status = "okay";
        /* Generic PHY, providing serdes lanes */
        phys = <&cp2_comphy3 1>;
};
